html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

.body,
.header-footer,
.panel {
  border: thin solid black;
}

.body,
.panel {
  padding: 30px;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.panel {
  height: 100%;
  max-width: 200px;
  width: 100%;
}

.header-footer {
  align-items: center;
  justify-content: center;
  max-height: 100px;
}

.blue {
  /* background-color also does the same thing */
  background-color: #83CAFF;
}

.purple {
  background-color: #CC99CC;
}

.pink {
  background-color: #FFCCCC;
}
